<div class="container pad-bottom-50">
	<h1>Editing listing</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @listing, class: "btn btn-default btn-sm" %>
	<%= link_to 'Back', listings_path, class: "btn btn-default btn-sm" %>

</div>