<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nunc lacus, mollis eu rhoncus eget, tristique sit amet eros. Curabitur sodales enim at erat fringilla, eu sodales arcu consectetur. Morbi risus velit, semper eu hendrerit sit amet, vestibulum quis arcu. Aliquam at risus diam. Suspendisse potenti. Sed hendrerit nisi sit amet tincidunt tristique. Mauris dui sem, placerat ac libero vel, rutrum sagittis enim. Nulla augue tortor, consequat at egestas sed, laoreet in leo.</p>
			</div>
			<div class="col-md-5">
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Get out there and list it!</h4>
						<p>Mauris dui sem, placerat ac libero vel, rutrum sagittis enim. Nulla augue tortor, consequat at egestas sed, laoreet in leo.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">5 Reasons this is your best idea yet!</h4>
						<p>Mauris dui sem, placerat ac libero vel, rutrum sagittis enim. Nulla augue tortor, consequat at egestas sed, laoreet in leo.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">Now is the time!</h4>
						<p>Mauris dui sem, placerat ac libero vel, rutrum sagittis enim. Nulla augue tortor, consequat at egestas sed, laoreet in leo.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
	<div class="container-fluid navbar-fixed-bottom">
		<div class="row copyright">
			<div class="col-md-12 center">
				<p>An Etsy Clone | Copyright 2014</p>
			</div>
		</div>
	</div>